@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Macondo&family=Milonga&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron&family=Roboto:wght@300&family=Rubik:ital,wght@0,300..900;1,300..900&family=Russo+One&family=Satisfy&family=Special+Elite&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

:root{
    --header-main: #993232;
    --btn-border: rgb(56, 219, 165);
}


.container{
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(250px, 20%) 1fr;
    grid-template-rows: 100px 1fr;
}

.header{
    background-color: #24273a;
    grid-column: 2; 
    grid-row: 1;
    position: sticky;
    z-index: 100;
}   


.header-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: 1%;
    padding-left: 8%;
    padding-right: 8%;
    align-items: center;
    
}

.book-svg{
    height: 70%;
    width: 4rem;
}
.book-svg svg{
    height: 100%;
    width: 100%;
    display: block;
}

.name{
    height: 60%;
    width: 4rem;
    margin-right: auto;
    display: flex;
    align-items: center;
    color: white;
    font-size: clamp(20px, 1.8vw, 32px );
    font-family: "Milonga", serif;
    font-weight: 700;
    font-style: normal;
}

.dark-mode{
    height: 50%;
    width: clamp(24px, 2.3vw, 40px );
    display: flex;
    align-items: center;
}

body.daymode .header {
  background-color: var(--header-main);
  box-shadow: inset 0 -1px 10px 1px rgb(95, 18, 18);
}

body.daymode .main {
  background-color: white;
  color: black;
}

body.daymode .sidebar {
  background-color: #dddcdc;
  color: black;
}

body.daymode form input{
    border: 2px solid var(--header-main);
}


body.daymode #sun {
  display: none;
}

body.daymode #moon {
  display: block;
}

#moon{
    display: none;
}

.github{
    height: 40%;
    width: clamp(24px, 2.3vw, 40px);
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.github svg {
    display: block;
    width: 100%; 
    height: 100%;
}


 .dark-mode:hover, .github:hover{
    cursor: pointer;
    filter: brightness(0%);
}



.sidebar{
    background-color: #1e2030;
    grid-column: 1;
    grid-row: 1 / 3;
    max-height: 100vh;
    overflow-y: auto; 
    color: white;
}


.sidebar-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20% 12%;
    gap: 12%;
}

.library-stats{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.library{
    text-align: center;
    font-size: 1.3rem;
}

.row{
    display: flex;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    height: 100%; 
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    row-gap: 6%;
}

form p{
    text-align: center;
    font-size: 1.3rem;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}


.read-status{
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
}


.nr, .r{
    flex: 1;
}


.switch {
  display: inline-block;
  width: 43px;
  height: 24px;
}

.slider {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 3px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 15%;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: green;
}

.switch input:checked + .slider::before {
  transform: translateX(100%);
}

input[type="checkbox"] {
  position: absolute;   
  opacity: 0;           
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}


.switch input:checked + .slider {
  background-color: green;      
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input{
    height: 30px;
    border-radius: 10px;
    border: 2px solid var(--btn-border);
    font-size: clamp(14px, 1vw, 19px);
    padding-left: 6px;
}

.form-wrapper .buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.buttons button{
    width: 40%;
    height: 4.2vh;
}

.create{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    background-color: var(--btn-border);
    border: 2px solid rgb(49, 200, 135);
}
.create:hover{
    filter: brightness(120%);
    cursor: pointer;
}

.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    background-color: var(--header-main);
    border: 2px solid rgb(167, 57, 40);
}
.reset:hover{
    filter: brightness(120%);
    cursor: pointer;
}





                                /* Main */
.main{
    background-color: #181926;
    grid-column: 2;
    grid-row: 2;
    overflow-y: auto;  
}

.main-wrapper{
  padding: 4% 8%;
}


.card{
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 20%));
    grid-auto-flow: row;
    grid-auto-rows: 300px;
    row-gap: 30px;
    column-gap: 20px;
    justify-content: space-between;
}



.bookCard{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: rgb(100, 107, 107);
    padding: 10%;
    border-radius: 15px;
    box-shadow: -3px 3px 4px rgb(87, 86, 86);
    
}


.book-cover{
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition:  0.7s ease;
}

.book-cover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0); 
  transition: background 0.7s ease;
}


.book-info{
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
  color: rgb(255, 255, 255);
}

.no-cover :is(.removeBtn, .year-output, .author-output){
    opacity: 0;
    transition:  0.3s  ease;
    
}
.no-cover:hover :is(.removeBtn, .year-output, .author-output, .toggleStatusBtn) { 
    opacity: 1;
}


.has-cover :is(.removeBtn, .title-output, .year-output, .author-output){
    opacity: 0;
    transition:  0.3s  ease;
}
.has-cover:hover :is(.removeBtn, .title-output, .year-output, .author-output, .toggleStatusBtn){
    opacity: 1;
}

.has-cover:hover .book-cover{
    filter: blur(7px);
}

.has-cover:hover .book-cover::after {
  background: rgba(0, 0, 0, 0.35); 
} 


.removeBtn{ 
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.toggleStatusBtn{
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
    opacity: 0.6;
    transition:  0.3s ease;
    cursor: pointer;
}


#tt{
    width: 80%;
    height: 100%;
}

.up{
    display: flex;
    justify-content: space-between;
}

.middle{
    display: flex;
    justify-content: center;
}

.bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



.link{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-family: "EB Garamond", serif;
    font-weight: 800;
    font-optical-sizing: auto;
}

.link:hover{
    color: rgb(15, 192, 133);
}

.daymode .link:hover{
    color: red;
}


.title-output{
    text-align: center;
}





@media (max-width: 992px) {
  .container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto; 
    height: auto; 
  }
  
.header { 
    grid-column: 1; 
    grid-row: 1; 
    position: sticky; 
    top: 0;
  }

  .sidebar { 
    grid-column: 1; 
    grid-row: 2; 
    height: fit-content; 
    overflow-y: visible;
  }
    .sidebar-wrapper{
        height: fit-content;
        padding: 8% 8%;
        row-gap: 3vh;
    }
    .form form{
        row-gap: 2vh;
    }
  
  
  .main { 
    grid-column: 1; 
    grid-row: 3;
    height: auto;
    overflow-y: visible;
    padding-bottom: 13vh;
  }
    .main-wrapper{
       padding: 10% 8%;
       height: auto;
    }

    .card{    
        grid-template-columns: repeat(3, clamp(140px, 18vw, 200px));
        grid-auto-rows: clamp(180px, 37vh, 250px);
    }

    .middle{
    font-size: clamp(14px, 1.7vw, 16px);
    }

    .bottom{
        font-size: clamp(11px, 1.7vw, 15px);
    }
}



@media (max-width: 768px) {
    .card{
        grid-template-columns: repeat(2, clamp(140px, 40vw, 200px));
        grid-auto-rows: clamp(180px, 30vh, 250px);
    }
}



                /* landscape */

@media (max-width: 992px) and (orientation: landscape) {
  .container {
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto auto; 
  }
  
  .header { 
    grid-column: 1; 
    grid-row: 1; 
    height: 70px;
    position: static;
  }

  .sidebar {    
    grid-column: 1; 
    grid-row: 2;
    min-height: fit-content; 
    overflow-y: visible; 
  }
  
  .sidebar-wrapper {
    padding: 4% 8%;  
    row-gap: 5vw;
  }
    .form form{
        row-gap: 3vw;
    }
  
  .main { 
    grid-column: 1; 
    grid-row: 3;
  }

  .card {    
    grid-template-columns: repeat(3, minmax(140px, 150px));
    grid-auto-rows: minmax(195px, 210px);  
  }

  .buttons button{
    height: 4vw;
  }

  .middle{
    font-size: clamp(14px, 1.7vw, 17px);
  }

  .bottom{
    font-size: clamp(12px, 1.7vw, 16px);
  }
}


@media (max-width: 768px) and (orientation: landscape) {
  .card {
    grid-template-columns: repeat(2, minmax(150px, 190px));
    grid-auto-rows: minmax(230px, 270px);
  }
}
